# Supabase Configuration
# Copiez ce fichier vers .env et remplissez les valeurs

VITE_SUPABASE_URL=https://vdovdwdgqfgxoothhnvo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkb3Zkd2RncWZneG9vdGhobnZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkwOTA5MzAsImV4cCI6MjA4NDY2NjkzMH0.ehyshabGdppnVbjOoh77UPmj7HiFyqEtzePrWJ-kVnA